<%- include('header') %>

<h1>Profile</h1>

<div>
  <p><%= users.name %></p>
  <p><%= users.username %></p>
  <p><%= users.email %></p>
  <p><%= users.phone %></p>
  <p><%= users.address %></p>
</div>

<br><a href="/">Back to Account Summary</a>

<%- include('footer') %>
